/target
**/*.rs.bk
Cargo.lock
node_modules
.idea
.env
.project
GIT_MSG
pandemia_server
*.pyc
*.raw.txt
.DS_Store

testkit/target/
macros/pandemia_proc_macro/target/
etc/ansible/GIT_REV
etc/ansible/host_vars/*.yml
etc/ansible/hosts
output/
