[Unit]
Description=Pandemia Service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=0


[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
Environment="DATABASE_URL={{DATABASE_URL}}"
Environment="FCM_SERVER_KEY={{FCM_SERVER_KEY}}"
Environment="GEOLOCATOR_API_KEY={{GEOLOCATOR_API_KEY}}"
ExecStart=/usr/local/bin/pandemia_server
StandardOutput=file:/var/log/pandemia_server.out
StandardError=file:/var/log/pandemia_server.err

[Install]
WantedBy=multi-user.target
