<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068412663958-5sncgfmb0281blbtfl8lhdtvu56ad158.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068412663958-5sncgfmb0281blbtfl8lhdtvu56ad158</string>
	<key>API_KEY</key>
	<string>AIzaSyDfx6tqJyMMk-1NVOosJ8sixmEdB9w23o8</string>
	<key>GCM_SENDER_ID</key>
	<string>1068412663958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ces.pandemia</string>
	<key>PROJECT_ID</key>
	<string>pandemia-6e6a4</string>
	<key>STORAGE_BUCKET</key>
	<string>pandemia-6e6a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068412663958:ios:91c0984d35d574d2daeab7</string>
	<key>DATABASE_URL</key>
	<string>https://pandemia-6e6a4.firebaseio.com</string>
</dict>
</plist>